.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 30px;
  border: none;

  @media (max-width: 768px) {
    height: 35px;
    margin-top: 20px;
    padding-bottom: 0px;
  }
}

.header {
  &__logo-link {
    display: flex;
    column-gap: 10px;
  }

  &__logo-icon {
    fill: $gray-extra-light;
  }

  &__logo-text {
    font-family: Gilroy-bold;
    color: $black;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -0.7px;
    text-transform: capitalize;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__span {
    font-family: Gilroy-Medium;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__copy {
    font-family: Gilroy-light;
    font-size: 25px;
    font-weight: 300;
    vertical-align: top;
    margin-left: -6px;
  }
}

.menu {
  color: $gray-brand;
  font-family: Gilroy-SemiBold;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
