.digital__block {
  margin-bottom: 40px;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.digital__h1 {
  color: $gray-brand;
  font-family: Gilroy-SemiBold;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;

  @media (max-width: 768px) {
    font-size: 57px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    font-size: 120px;
  }
  @media (min-width: 1201px) {
    font-size: 150px;
  }

  span {
    font-family: Gilroy;
    font-weight: 300;
  }
}

.digital__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital__btn-arrow {
  width: 45px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
  }
  &::before {
    width: 2px;
    height: 39px;
    background-color: $gray-brand;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  &::after {
    width: 19px;
    height: 19px;
    border: 2px solid $gray-brand;
    border-radius: 1px;
    border-top: none;
    border-left: none;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}

.digital__img-wrap {
  width: 100%;
  height: 960px;

  @media (max-width: 768px) {
    height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.digital__frame {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    flex-direction: column;
  }
  @media (min-width: 1201px) {
    justify-content: space-between;
    margin: 70px 0;
  }
}

.digital__frame-text {
  flex: 3 1 0;
  color: $gray-brand;
  font-family: Gilroy;
  font-weight: 300;

  @media (max-width: 768px) {
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    font-size: 52px;
    text-align: center;
    margin: 30px 0;
  }
  @media (min-width: 1201px) and (max-width: 1920px) {
    font-size: 54px;
  }
  @media (min-width: 1921px) {
    font-size: 60px;
    text-align: justify;
  }

  span {
    font-family: Gilroy-Bold;
    font-weight: 800;
  }
}

.sotial {
  flex: 1 3 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  row-gap: 30px;
  background-color: $gray-brand;

  @media (max-width: 1200px) {
    padding: 40px 30px;
  }
  @media (min-width: 1201px) {
    padding: 60px 70px;
  }
}

.sotial__text {
  color: $white;
  font-family: Gilroy-Medium;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;

  @media (max-width: 1200px) {
    font-size: 28px;
  }
  @media (min-width: 1201px) {
    font-size: 32px;
  }
}

.sotial__list {
  display: flex;
  column-gap: 20px;
}

.sotial__icon {
  width: 50px;
  fill: $white;
}
