.activity {  
    display: flex;
    flex-direction: column;   
    align-items: end;
    position: relative;
    z-index: 2;    
}

.activity__logos {
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
    background-color: $baige-brand;      
    box-sizing: border-box;
    border-bottom: 1px solid $gray-brand;
    
    @media screen and (min-width: 320px) {
        max-width: 768px;
        padding: 30px 20px; 
        justify-content: center; 
        column-gap: 20px; 
        row-gap: 20px;    
    }

    @media screen and (min-width: 769px) {
        max-width: 1200px;
        padding: 40px 30px; 
    }

    @media screen and (min-width: 1201px) {
        max-width: 1920px;
    }

    @media screen and (min-width: 1281px) {
        max-width: 1920px;
        column-gap: 40px;        
    }

    @media screen and (min-width: 1690px) {
        max-width: 1920px;
        padding: 70px; 
        justify-content: space-between; 
        gap: 0;
    }

    .activity__btn {
        border-radius: 50px;
        border-color: transparent;
        padding: 15px 40px;
        cursor: pointer;
        position: relative;

        &:active {
            top: 5px;
            left: 3px;
          }
    }

    .activity__btn--white {        
        background-color: $white;
    }
}

.activity{
    background-image: url(../images/content/bg/what-i-do-bgd.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    // background-size: cover;
    
    @media screen and (max-width: 1200px) {        
        background-repeat: repeat;
        background-size: contain;
    }
}

.activity__aside { 
    background-color: $baige-brand;
        
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 20px 20px;
        box-sizing: border-box;
        margin-top: 60vw;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {        
        width: 100%;
        padding: 0 30px 40px;
        box-sizing: border-box;         
        margin-top: 478px;
    }

    @media screen and (min-width: 1201px) {
        width: 870px;
        padding: 70px 70px 70px 111px;
        margin-top: 0;
        box-sizing: content-box;
    }   
        
    .activity__list {
         
        .activity__item {
            border-bottom: 1px solid #252525;
            padding: 40px 0;
    
            .activity__item-title {    
                color: $black;
                font-family: Gilroy-SemiBold;
                font-size: 44px;
                font-weight: 400;
                line-height: 48px;
                text-transform: uppercase;                
                padding-left: 60px;
                margin-bottom: 10px; 
                position: relative; 

                @media screen and (max-width: 768px) {
                    font-size: 8vw;
                    padding-left: 80px;
                }

                @media screen and (max-width: 480px) {
                    font-size: 7vw;
                    padding-left: 40px;
                }

                &--num01::before {
                    content: "01";
                    font-family: Gilroy-Light;
                    font-weight: 300;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &--num02::before {
                    content: "02";
                    font-family: Gilroy-Light;
                    font-weight: 300;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &--num03::before {
                    content: "03";
                    font-family: Gilroy-Light;
                    font-weight: 300;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                
                &--num04::before {
                    content: "04";
                    font-family: Gilroy-Light;
                    font-weight: 300;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }         
                     
            .activity__item-text {
                color: $black;
                font-family: Inter;
                font-size: 20px;                
                font-weight: 400;
                line-height: 28px; /* 140% */
            }
            
            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

