.work {
  @media (max-width: 1200px) {
    padding-bottom: 30px;
  }

  @media (min-width: 1201px) {
    padding-top: 20px;
    padding-bottom: 100px;
  }
}

.work__wrapper {
  display: flex;
  flex-direction: column;
}

.work__list {
  width: 100%;
  display: flex;
  margin-bottom: 70px;

  @media (max-width: 768px) {
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 40px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    flex-direction: column;
    row-gap: 30px;
  }
  @media (min-width: 1201px) {
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
  }
}

.work__item {
  @media (max-width: 768px) {
    height: calc(100vw - (20px * 2));
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    height: calc(100vw - (30px * 2));
  }
  @media (min-width: 1201px) and (max-width: 1920px) {
    flex: 1 1 calc(100% / 3 - 40px);
    height: calc((100vw - (70px * 2) - (40px * 2)) / 3);
  }
  @media (min-width: 1921px) {
    flex: 1 1 calc(100% / 3 - 40px);
    height: 567px;
  }

  &--height {
    @media (max-width: 1200px) {
      height: fit-content;
    }
  }

  &--order {
    @media (max-width: 1200px) {
      order: 1;
    }
  }
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-work {
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    row-gap: 30px;
  }
  @media (min-width: 1201px) {
    justify-content: space-between;
  }
}

.block-work__author {
  color: $black;
  font-family: Gilroy-Bold;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: 230px) {
    font-size: 15.5vw;
    margin-bottom: 3px;
  }

  @media (min-width: 231px) and (max-width: 768px) {
    font-size: 35px;
    margin-bottom: 20px;
  }

  @media (min-width: 769px) {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 30px;
  }
}

.block-work__btn-wrap {
  display: flex;
  justify-content: start;
  column-gap: 30px;

  @media (max-width: 320px) {
    flex-direction: column;
    row-gap: 5px;
  }
}
