.sotial-team {
  display: flex;
  column-gap: 10px;

  @media (max-width: 768px) {
    justify-content: center;
  }

  @media (min-width: 769px) {
    justify-content: end;
  }
}

.sotial-team__icon {
  width: 30px;
  fill: $gray-brand;
}
