.contacts {              
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 40px; 

    @media (max-width: 768px) {
        padding: 0 20px 50px;  
    }
    
    @media (min-width: 769px) and (max-width: 1200px)  {
        padding: 30px 30px 50px; 
    }
      
    @media (min-width: 1201px) { 
        padding: 50px 70px 100px; 
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @media (min-width: 1201px) { 
            align-items: start;
        }

        .contacts__content-header {
            color: $gray-brand;
            font-family: Gilroy-Bold;
            font-size: 64px;            
            font-weight: 400;            
            text-transform: uppercase;
            text-align: center; 

            @media (max-width: 1500px) {
                font-size: 4vw; 
            }           

            @media (max-width: 1200px) {
                font-size: 7vw; 
            }
    
            @media (max-width: 790px) {  
                font-size: 6vw; 
            }            
                             
            @media (min-width: 1201px) { 
                text-align: start;
              }
        }

        .contacts__content-text {
            color: $gray-brand;
            font-family: Gilroy-Medium;
            font-size: 34px;            
            font-weight: 400;  
            text-align: center;             
            
            @media (max-width: 1200px) {
                font-size: 7vw; 
            }
    
            @media (max-width: 790px) {  
                font-size: 6vw; 
            }           
              
            @media (min-width: 1201px) {
                text-align: start;
            }
        }     
    }
}

