<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Digital-Design</title>
<link rel="icon" href="./images/favicon.png">
<link rel="stylesheet" href="./styles/main.css">