<section class="container work inner">
  <h2 class="h2">Selected work</h2>
  <div class="work__wrapper">
    <ul class="work__list work__list--trinity">
      <li class="work__item work__item--height work__item--order">
        <div class="block-work">
          <div>
            <p class="block-work__author">Trinity</p>
            <div class="block-work__btn-wrap">
              <button class="btn btn--white">Digital Design</button>
              <button class="btn btn--white">2022</button>
            </div>
          </div>
          <div class="btn__wrap btn__wrap--end">
            <button class="btn btn--arrow"><span>Discover</span></button>
          </div>
        </div>
      </li>
      <li class="work__item">
        <img
          class="work__img"
          src="./images/content/s3-work/trinity-1.jpg"
          alt="The black and whit photo of a flower"
        />
      </li>
      <li class="work__item">
        <img
          class="work__img"
          src="./images/content/s3-work/trinity-2.jpg"
          alt="The black and whit photo of a flower"
        />
      </li>
    </ul>
    <ul class="work__list work__list--morpheus">
      <li class="work__item">
        <img
          class="work__img"
          src="./images/content/s3-work/morpheus-1.jpg"
          alt="The black and whit photo of a flower"
        />
      </li>
      <li class="work__item">
        <img
          class="work__img"
          src="./images/content/s3-work/morpheus-2.jpg"
          alt="The black and whit photo of a flower"
        />
      </li>
      <li class="work__item work__item--height">
        <div class="block-work">
          <div>
            <p class="block-work__author">Morpheus</p>
            <div class="block-work__btn-wrap">
              <button class="btn btn--white">Digital Design</button>
              <button class="btn btn--white">2023</button>
            </div>
          </div>
          <div class="btn__wrap btn__wrap--end">
            <button class="btn btn--arrow"><span>Discover</span></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="btn__wrap btn__wrap--center">
    <button class="btn btn--white btn--p60 btn--full">All Work</button>
  </div>
</section>
