<section class="container team inner">
  <h2 class="h2">Our Team</h2>
  <div class="team__wrapper">
    <ul class="team__list">
      <li class="team__item">
        <div class="team__text">
          <p class="team__name">Tyra Dhillon</p>
          <p class="team__role">Creative Director</p>
        </div>
        <div class="team__img-wrap">
          <img
            src="./images/content/s5-team/team-member-1.jpg"
            alt="The black and white portrait of a team member by Name"
          />
        </div>
        @@include("./s5-part-sotial.html")
      </li>
      <li class="team__item">
        <div class="team__text">
          <p class="team__name">Darcel Ballentine</p>
          <p class="team__role">Brand Designer</p>
        </div>
        <div class="team__img-wrap">
          <img
            src="./images/content/s5-team/team-member-2.jpg"
            alt="The black and white portrait of a team member by Name"
          />
        </div>
        @@include("./s5-part-sotial.html")
      </li>
      <li class="team__item">
        <div class="team__text">
          <p class="team__name">Brittni Lando</p>
          <p class="team__role">Fashion Designer</p>
        </div>
        <div class="team__img-wrap">
          <img
            src="./images/content/s5-team/team-member-3.jpg"
            alt="The black and white portrait of a team member by Name"
          />
        </div>
        @@include("./s5-part-sotial.html")
      </li>
      <li class="team__item">
        <div class="team__text">
          <p class="team__name">Roselle Ehrman</p>
          <p class="team__role">Graphic Designer</p>
        </div>
        <div class="team__img-wrap">
          <img
            src="./images/content/s5-team/team-member-4.jpg"
            alt="The black and white portrait of a team member by Name"
          />
        </div>
        @@include("./s5-part-sotial.html")
      </li>
      <li class="team__item">
        <div class="team__text">
          <p class="team__name">Jane Cooper</p>
          <p class="team__role">Creative Director</p>
        </div>
        <div class="team__img-wrap">
          <img
            src="./images/content/s5-team/team-member-5.jpg"
            alt="The black and white portrait of a team member by Name"
          />
        </div>
        @@include("./s5-part-sotial.html")
      </li>
      <li class="team__item">
        <div class="team__text">
          <p class="team__name">Robert Fox</p>
          <p class="team__role">Brand Designer</p>
        </div>
        <div class="team__img-wrap">
          <img
            src="./images/content/s5-team/team-member-6.jpg"
            alt="The black and white portrait of a team member by Name"
          />
        </div>
        @@include("./s5-part-sotial.html")
      </li>
      <li class="team__item team__item--grow">
        <div class="team__block">
          <p class="team__block-text">Join the team</p>
          <p class="team__block-title">
            Desire to influence the future of branding?
          </p>
          <button class="btn btn--arrow btn--full btn--full-arrow"><span>Find Job</span></button>
        </div>
      </li>
    </ul>
  </div>
</section>
