<section class="contacts container">
    <h2 class="h2 h2--aside">Contact</h2>
    <div class="contacts__content">
        <p class="contacts__content-header">Let's start building your brand's unique story together.</p>
        <p class="contacts__content-text">Want to see what a difference a strong brand can make? Request a consultation today.</p>
        <button class="contacts__btn btn btn--arrow btn--full btn--full-arrow"><span>Get in touch</span></button>
    </div>
</section>