// BASE COLORS:
$white: #FFFFFF;
$black: #000000;

// GENERAL COLORS:
$baige-brand:   #F5F3EA;
$gray-brand:    #252525;

// ADDITIONAL COLORS:
$gray-extra-light:  #394149; // General Logo
$gray-extra-middle: #333333;



